{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header class="wrapper">
      <h1><a href="{% url 'posts:list' %}"><img src="{% static 'logo.png' %}"></a></h1>
      <nav>
        <ul>
          <li> <a href="{% url 'posts:list' %}">Blog Posts</a></li>
          {% if user.is_authenticated %}
              <li>
                <form class="logout-link" action="{% url 'accounts:logout_user' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
              </li>
              <li> <a href="{% url 'posts:create_post' %}">New Post</a> </li>
              <li> <a href="{% url 'password_change' %}"> Change Password </a> </li>
          {% else %}
              <li> <a href="{% url 'accounts:login' %}">Login</a> </li>
              <li> <a href="{% url 'accounts:signup' %}">Sign up</a> </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
